*,
html,
body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

.banner {
  position: relative;
  height: 100vh;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: none;
}
.banner .nav {
  width: 100%;
  height: 50px;
  background-color: transparent;
}
.banner .nav #nav-button {
  z-index: 22;
  width: 30px;
  height: 30px;
  position: relative;
  float: right;
  cursor: pointer;
}
.banner .nav #nav-button .navdesign {
  top: 25px;
  width: 100%;
  height: 4px;
  position: absolute;
  right: 0;
  background-color: black;
}
.banner .nav #nav-button .navdesign::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: black;
  transform: translateY(-10px);
}
.banner .nav #nav-button .navdesign::before {
  height: 4px;
  position: absolute;
  content: "";
  width: 100%;
  background-color: black;
  transform: translateY(10px);
}
@media only screen and (max-width: 576px) {
  .banner .nav #nav-button .navdesign {
    right: 10px;
    top: 10px;
  }
}
.banner .nav #nav-button .navdesign.cross {
  background-color: transparent;
}
.banner .nav #nav-button .navdesign.cross::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: black;
  transform: translateY(0px) rotate(45deg);
}
.banner .nav #nav-button .navdesign.cross::before {
  height: 4px;
  position: absolute;
  content: "";
  width: 100%;
  background-color: black;
  transform: translateY(0px) rotate(-45deg);
}
.banner .nav #nav-button:hover .navdesign {
  transition: all 0.5s ease;
  transform: rotate(45deg);
}
.banner .navmenu {
  display: none;
  z-index: 1;
  background-color: #2cc9b4;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
.banner .navmenu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.banner .navmenu ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(53, 47, 47);
}
.banner .navmenu.show {
  display: block;
}
.banner .banner-innerdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.banner .banner-innerdiv .banner-head {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1rem;
  color: black;
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
}
.banner .banner-innerdiv .banner-head span {
  color: gray;
}
@media only screen and (max-width: 576px) {
  .banner .banner-innerdiv .banner-head {
    font-size: 2rem;
  }
}
.banner .banner-innerdiv .banner-para {
  margin-top: 10px;
  color: gray;
  letter-spacing: 3px;
}
.banner .banner-innerdiv .banner-button {
  background-color: #2cc9b4;
  padding: 20px 30px;
  border: none;
  text-align: center;
  border-radius: 5px;
  margin: 50px auto;
  box-shadow: 0px 3px 2px #269282;
}
.banner .banner-innerdiv .banner-button a {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
}

.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(228, 226, 226, 0.459);
}
.portfolio .pf-inner {
  width: 80%;
  margin: 0px auto;
}
.portfolio .pf-inner .port-para {
  text-align: center;
  margin-top: 100px;
  width: 70%;
  margin: 100px auto 0 auto;
}
@media only screen and (max-width: 576px) {
  .portfolio .pf-inner .port-para {
    width: 90%;
  }
}
@media only screen and (max-width: 576px) {
  .portfolio .pf-inner {
    width: 100%;
  }
}

.wwd {
  padding-top: 100px;
  padding-bottom: 100px;
}
.wwd .wwd-inner .wwd-sec {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.wwd .wwd-inner .wwd-sec .wwd-sec-inner {
  margin-top: 20px;
  width: 30%;
}
.wwd .wwd-inner .wwd-sec .wwd-sec-inner .wwd-div-head {
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
}
.wwd .wwd-inner .wwd-sec .wwd-sec-inner .line {
  color: #2cc9b4;
  font-size: 3rem;
  font-weight: 800;
}
@media only screen and (max-width: 576px) {
  .wwd .wwd-inner .wwd-sec .wwd-sec-inner {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .wwd .wwd-inner .wwd-sec {
    flex-direction: column;
  }
}

#RD {
  background-image: url(../images/img-1.jpg);
}
#RD .row {
  display: flex;
  flex-direction: row;
}
#RD .row .col-rd {
  width: 50%;
}
#RD .row .col-rd#responsivedes {
  background-color: white;
  box-shadow: -1px 13px 11px black;
  padding: 100px 0;
  float: right;
  padding-left: 30px;
  padding-top: 120px;
  background-color: white;
  padding-bottom: 120px;
}
#RD .row .col-rd#responsivedes .rd-slider {
  width: 70%;
  padding-left: 10%;
}
@media only screen and (max-width: 576px) {
  #RD .row .col-rd#responsivedes .rd-slider {
    width: 100%;
    padding-left: 0%;
  }
  #RD .row .col-rd#responsivedes .rd-slider .slick-slide {
    width: 100%;
  }
}
#RD .row .col-rd#responsivedes .rd-slider #all-para {
  margin-top: 50px;
  text-align: center;
}
#RD .row .col-rd#responsivedes .rd-slider .slick-dots {
  width: 70%;
  padding-left: 10%;
}
@media only screen and (max-width: 576px) {
  #RD .row .col-rd#responsivedes .rd-slider .slick-dots {
    width: 100%;
    padding-left: 0;
  }
}
@media only screen and (max-width: 576px) {
  #RD .row .col-rd {
    width: 100%;
  }
  #RD .row .col-rd#responsiveimg {
    display: none;
  }
}

#tl-con {
  background-image: url(../images/img-2.jpg);
  background-size: cover;
  background-repeat: none;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}
#tl-con .row {
  padding-top: 30px;
  padding-bottom: 30px;
}
#tl-con .row .tl-col {
  text-align: center;
  color: white;
}
#tl-con .row .tl-col .tl-head {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.5rem;
  font-size: 2rem;
}
#tl-con .row .tl-col .tl-head2 {
  margin-top: 20px;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}
#tl-con .row .tl-col .tl-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2cc9b4;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
#tl-con .row .tl-col .tl-logo a {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.design {
  margin-top: 50px;
  margin-bottom: 100px;
}
.design .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .design .row {
    display: block;
  }
}
.design .row .design-col {
  width: 32%;
  margin-top: 100px;
  margin-bottom: 50px;
}
.design .row .design-col .design-img {
  width: 100%;
}
.design .row .design-col .photo-con {
  position: relative;
}
.design .row .design-col .child1 {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 158, 140, 0.5490196078);
  top: 0;
}
.design .row .design-col .child1 .view {
  text-align: center;
  position: absolute;
  font-size: 1.5rem;
  color: white;
  top: 50%;
  left: 50%;
  font-weight: 600;
  transform: translate(-50%, -50%);
}
.design .row .design-col .design-head {
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
}
.design .row .design-col .line {
  text-align: center;
  color: #2cc9b4;
  font-size: 2rem;
}
.design .row .design-col .design-para {
  margin-top: 50px;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .design .row .design-col {
    width: 90%;
    margin: 0 auto;
  }
}
.design .row .photo-con:hover .child1 {
  display: block;
}

.ignite-div {
  background-color: #242831;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.ignite-div .ignite-heading {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 30px;
  border: 1px solid white;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 576px) {
  .ignite-div .ignite-heading {
    width: 300px;
  }
}

.team {
  background-color: #fafbff;
  padding-bottom: 200px;
  padding-top: 100px;
  text-align: center;
}
.team .team-div {
  padding-top: 100px;
  justify-content: center;
}
.team .team-div .team-slider .slide .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .team .team-div .team-slider .slide .row {
    flex-direction: column;
  }
}
.team .team-div .team-slider .slide .row .team-inner-col {
  width: 32%;
  text-align: center;
  margin-top: 120px;
  display: inline;
}
@media only screen and (max-width: 767px) {
  .team .team-div .team-slider .slide .row .team-inner-col {
    width: 100%;
  }
}
.team .team-div .team-slider .slide .row .team-inner-col .team-head {
  text-align: center;
  margin-top: 30px;
}
.team .team-div .team-slider .slide .row .team-inner-col .team-para {
  margin-top: 50px;
  text-align: center;
}
.team .team-div .team-slider .slide .row .team-inner-col .team-icons {
  background-color: #242831;
  color: white;
  font-size: 25px;
  padding: 0.75em 0.81em;
  border-radius: 50%;
  transition: 1s;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .team .team-div .team-slider .slide .row .team-inner-col .team-icons {
    padding: 0.45em 0.5em;
  }
}
.team .team-div .team-slider .slide .row .team-inner-col .team-img {
  margin: 0 auto;
}
.team .team-div .team-slider .slide .row .team-inner-col .team-icons:hover {
  background-color: #2cc9b4;
}
.team .team-div .team-slider .slide .row .team-inner-col .team-iconbutton {
  margin-bottom: 100px;
}
.team .team-div .team-slider .slide .row .team-inner-col .row {
  margin: 50px auto;
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team .team-div .team-slider .slide .row .team-inner-col .row .team-row {
  width: 32%;
}
@media only screen and (max-width: 576px) {
  .team .team-div .team-slider .slide .row .team-inner-col {
    width: 100%;
  }
}

.subscribe {
  background-color: #242831;
  padding-top: 100px;
  padding-bottom: 120px;
}
.subscribe .row {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.subscribe .row .sub-icon {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.subscribe .row .cu-heading {
  margin-bottom: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}
.subscribe .row .sub-in {
  margin: 0 auto;
}
.subscribe .row .sub-in #sub-text {
  border: 1px solid white;
  height: 50px;
  width: 300px;
  background-color: #242831;
  color: white;
  padding-left: 20px;
}
.subscribe .row .sub-in .sub-btn {
  height: 50px;
  color: white;
  background-color: #2cc9b4;
  width: 80px;
  border: none;
}

.contact-us {
  background-image: url(../images/img-6.jpg);
  background-size: cover;
  background-repeat: none;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.contact-us .top-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: rgba(44, 201, 180, 0.4784313725);
  cursor: pointer;
}
.contact-us .top-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2rem;
}
.contact-us .cu-inner {
  margin-top: 100px;
}
.contact-us .cu-inner .cu-row {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .contact-us .cu-inner .cu-row {
    flex-direction: column;
  }
}
.contact-us .cu-inner .cu-row .cu-col {
  width: 32%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact-us .cu-inner .cu-row .cu-col i {
  font-size: 1.5rem;
}
.contact-us .cu-inner .cu-row .cu-col .contact-head {
  color: #2cc9b4;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 576px) {
  .contact-us .cu-inner .cu-row .cu-col {
    width: 90%;
    margin: 10px auto;
  }
}
.contact-us .cu-btn-con {
  text-align: center;
  width: 15%;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .contact-us .cu-btn-con {
    width: 30%;
  }
}
.contact-us .cu-btn-con .row {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: space-between;
}
.contact-us .cu-btn-con .row .cu-icon-con {
  width: 50px;
  margin-top: 10px;
  height: 50px;
  border-radius: 50%;
  background-color: #242831;
  color: white;
  position: relative;
}
.contact-us .cu-btn-con .row .cu-icon-con i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-us .cu-btn-con .row .cu-icon-con:hover {
  background-color: #2cc9b4;
  color: #242831;
}
@media only screen and (max-width: 576px) {
  .contact-us .cu-btn-con .row {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer {
  height: auto;
  background-color: #242831;
  padding-top: 30px;
  padding-bottom: 50px;
}
.footer .left-foot {
  color: white;
  float: left;
}
.footer .left-foot a {
  color: #8b8b8f;
  text-decoration: none;
}
.footer .left-foot a:hover {
  transition: all 0.5s ease;
  color: white;
}
@media only screen and (max-width: 576px) {
  .footer .left-foot {
    text-align: center;
    float: none;
  }
}
.footer .right-foot {
  color: white;
  float: right;
}
.footer .right-foot span {
  color: #8b8b8f;
}
@media only screen and (max-width: 576px) {
  .footer .right-foot {
    text-align: center;
    float: none;
  }
}

.all-heading {
  font-size: 1.5rem;
  position: relative;
  letter-spacing: 0.3rem;
  color: #303034;
  text-align: center;
}
.all-heading::before {
  border-bottom: 5px dotted;
  width: 40%;
  position: absolute;
  left: 2%;
  border-color: #8b8b8f;
  bottom: -30px;
  padding: 10px 10px;
  color: black;
  content: "";
}
.all-heading::after {
  border-bottom: 5px dotted;
  width: 40%;
  position: absolute;
  right: 2%;
  border-color: #8b8b8f;
  bottom: -30px;
  padding: 10px 10px;
  color: black;
  content: "";
}
.all-heading span::after {
  position: absolute;
  font-family: bootstrap-icons !important;
  content: "\f229";
  left: 50%;
  bottom: -51px;
  transform: translateX(-50%);
  font-size: 30px;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

.line {
  color: #2cc9b4;
  font-size: 3rem;
  font-weight: 800;
}/*# sourceMappingURL=style.css.map */